html body {
	margin: 0;
    padding: 0;
}


/* FORMULAIRE */

#wrapper-log {
	max-width: 100%;
	display: flex;
}

.left-container-log {
	width: 960px; 
	height: 100vh;
	background: #edf0f1;
	position: relative;
}

.right-container-log {
	position: relative;
	width: 960px;
}

.left-container-log > h1 {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	text-transform: lowercase;
	letter-spacing: 10px;
	font-size: 80px;
	font-weight: normal;
	text-align: center;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
}

.left-container-log > img {
	width: 200px;
	height: auto;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
}

#form {
	font-family: 'Roboto', sans-serif;
}

form {
	position: absolute;
	max-width:450px;
	left: 25%;
	top: 35%;
	transform: translate(-35%, -25%);
	letter-spacing: 2px;
	margin-top: 90px;
}

#pseudo-log, #mdp-log{
	display: flex;
	flex-direction: column;
	width: 250px;
	height: 24px;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 5px;
	border:none;
	border-bottom: 1px solid #D3D3D3;
}

input:focus {
	outline: none;
}

.button {
	font-family: 'Roboto', sans-serif;
	background:black;
	width:120px;
	height:50px;
	color: white;
	border: none;
	margin-top: 35px;
	font-size: 12px;
	letter-spacing: 2px;
}

.error-msg {
	position: absolute;
	width: 450px;
	text-align: center;
	color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	bottom : 10%;
	transform: translateX(-10%);
}


@media all and (max-width: 1441px) {
	.left-container-log, .right-container-log {
		width: 720px; 
	}
}	

@media all and (max-width: 1024px) {
	.left-container-log, .right-container-log {
		width: 512px; 
	}

	form {
		left: 35%;
		top: 35%;
		transform: translate(-35%, -35%);
	}
}	

@media all and (max-width: 768px) {
	#wrapper-log {
		flex-wrap: wrap;
		max-height: 1024px;
	}

	.left-container-log {
		width: 768px; 
		height: 300px;
	}

	.right-container-log {
		width: 768px; 
	}

	.left-container-log > h1 {
		margin: auto;
	}
	
	.left-container-log > img {
		top: 65%;
		left: 50%;
		transform: translate(-50%, -65%);
	}

	form {
		top: 35%;
		transform: translateY(-35%);
		margin:auto;
	}

	.error-msg {
		position: inherit;
		width: auto;
		margin: auto;
		bottom : inherit;
		left: inherit;
		transform: inherit;
		padding-top: 50px;
	}
}	

@media all and (max-width: 480px) {
	.left-container-log {
		width:480px; 
		height: 150px;
	}

	.right-container-log {
		width: 480px;
		height: 500px;
	}

	.left-container-log > h1{
		font-size: 35px;
	}

	.left-container-log > img {
		top: 70%;
		left: 50%;
		transform: translate(-50%, -70%);
		width: 170px;
		height: auto;
	}

	form {
		margin:auto;
		text-align:center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.error-msg {
		padding-top: 30px;
	}
}