html body {
	margin: 0;
    padding: 0;
}


.bloc-logo {
    width: 1135px;
    height: 70px;
    background: yellow;
}

.logo {
    width: 300px;
    height: auto;
}

.bloc_id {
    width: 220px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    margin-top: 100px;
    height: 250px;
    bottom: 0;
}

.id {
    padding-left: 50px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}

.id > a:hover {
    color: red;
}

a {
    text-decoration: none; 
    color: black;
}

.container-nav-content {
    max-width: 100%;
    height: 100vh;
    display: flex;
}

.bloc-nav-admin {
    width: 220px;
    height: 100vh;
    border-right:1px solid #b5b5b5;
}

.bloc-content-admin {
    width: 1770px;
    background: #f3f5f5;
}

.navigation {
    margin-top: 50px;
}

nav li {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    padding:10px;
    cursor: pointer;
}

nav li:hover {
    border-right:4px solid rgb(37, 37, 37);
}

nav li:visited {
    border-right:4px solid rgb(37, 37, 37);
}

@media all and (max-width: 1441px) {
    .bloc-content-admin {
        width: 1241px;
        height: auto;
    }
}



.container_flex {
    display: flex;
    flex-wrap: wrap;
}

.titre {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.create, .update_delete {
    padding: 20px 120px;
}

label {
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    outline: none;
    padding: 5px;
    margin-top: 15px;
    font-size: 12px;
}

input [type="text"], textarea {
    border: 1px solid #D3D3D3;
}

.button, .button_delete, .button_add {
    height: 30px;
    padding-left: 22px;
    padding-right: 22px;
    cursor:pointer;
    background:rgb(37, 37, 37);
    color: white;
    text-transform: uppercase;
    border:inherit;
    letter-spacing: 1.5px;
    border-radius: 40px;
    margin-right: 20px;
}

.button:hover, .button_delete:hover, .button_add:hover {
    background: #f3f5f5;
    transition: 0.2s;
}

.button:hover {
    border:1px solid rgb(37, 37, 37);
    color: rgb(37, 37, 37); 
}

.button_delete:hover {
    border:1px solid rgb(218, 19, 19);
    color: rgb(218, 19, 19);
}

.button_add:hover {
    border:1px solid rgb(16, 145, 84);
    color: rgb(16, 145, 84);
}

.lab_up_del {
    padding-right:30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.var_name {
    color: red;
}

@media all and (max-width: 1441px) {
    .create, .update_delete {
        padding: 20px 50px; 
    }

    textarea {
        width: 400px;
    }
}

/* NEWSLETTER */

.td_newslett {
    width: 250px;
}