html body {
	margin: 0;
	padding: 0;
}


/* HEADER */

#wrapper-header {
	max-width: 100%;
	background: #b7d0cd;
}

.container-header {
	max-width: 1200px;
	height: 200px;
	margin:auto;
	position: relative;
}

.logo img {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
}

.container-nav nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.container-nav > .menu-principal {
	list-style-type: none;
	display: inline-flex;
}

nav li {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 12px;
}

.container-nav > nav > ul >li {
	padding: 20px 15px;
}

a  { 
	text-decoration: none; 
	color: inherit;
} 

.menu-boutiques a:hover, .menu-about a:hover {
	border-bottom: 1px solid black;
}

nav > ul > li {
	float:left;
	position: relative;
}

nav > ul::after {
	content="";
	display: block;
	clear: both;
}

.submenu {
	margin: 0;
	padding:0;
	list-style-type: none;
	display: none;
	margin-top: 20px;
	color: grey;
	background-color:rgba(255, 255, 255, 1);
}

nav li:hover .submenu {
	display: block;
	position: absolute;
	left: 0;
	width:100%;
	z-index: 100000;
}

.submenu li {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom:1px solid #eeeeee;
}

.submenu li:hover {
	color: black;
}


/* ECRAN ACCUEIL */

#wrapper_boutiques {
	padding-top: 40px;
	padding-bottom: 190px;
	background: #b7d0cd;
}

.container_boutiques {
	position: relative;
	max-width: 100%;
	height: 400px;
	text-align: center;
}

.container_titres {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	color:white;
	text-transform: uppercase;
}

.title-paris {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	padding:0;
	margin: 0;
}

h1 {
	font-family: 'Cormorant', serif;
	font-weight: normal;
	font-size: 80px;
	padding:0;
	margin: 0;
}


/* TXT TRANSITION */

.container_transition {
	max-width: 100%;
	height : 320px;
	display: flex;
}

.txt-transition {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align: center;
	line-height: 30px;
	margin: auto;
}

/* HONORE */

#wrapper-honore {
	max-width: 100%;
}

.container-honore {
	width: 1200px;
	height:800px;
	margin: auto;
	position: relative;
}

.bloc-map {
	position: absolute;
	width: 800px;
	height: 645px;
	background: #f0c1c1;
	z-index:500;
}

.bloc-img {
	position: absolute;
	width:652px;
	height:720px;
	background:#b0924f;
	right:0;
	bottom: 0;
}

.bloc-titres {
	position:absolute;
	width: 300px;
	height: 350px;
	background: white;
	text-transform: uppercase;
	top: 150px;
	right: 200px;
	z-index:1000;
}

.bloc-titre {
	position: absolute;
	width:auto;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -10%);
}

.rue {
	font-family: 'Roboto', sans-serif;
	padding:0;
	margin:0;
}

.nom_shop {
	font-family: 'Cormorant', serif;
	font-size: 50px;
	padding:0;
	margin:0;
}

/* FOOTER */

#wrapper-footer {
	max-width: 100%;
	height: 190px;
	margin-top: 130px;
	background: #f7f7f7;
}

.container-footer {
	max-width: 1200px;
	height: 190px;
	margin: auto;
	position:relative;
}

.container-txt-footer {
	position:absolute;
	width: 1200px;
	height: 53px;
	top: 50%;
	transform:translateY(-50%);
	display: flex;
}

.left-container-footer {
	width: 600px;
	height: 53px;
}

.right-container-footer {
	width: 600px;
	height: 53px;
}

.left-container-footer ul {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1.5px;
	font-size: 12px;
	list-style-type: none;
	display:inline-flex;
	text-transform:uppercase;
	color:#919191;
	margin: 0;
	padding: 0;
}

.left-container-footer li {
	padding-right: 25px;
}

.txt-footer {
	font-family: 'Cormorant', serif;
	font-size:16px;
	font-style:italic;
	color: #919191;
}

.right-container-footer ul {
	color:#919191;
	list-style-type: none;
	display: inline-flex;
	margin: 0;
	padding: 0;
}

.right-container-footer {
	position: relative;
}

.rs-icons {
	position: absolute;
	right: 0;
}

.right-container-footer li {
	padding-left: 25px;
}
