html body {
	margin: 0;
	padding: 0;
}

/* ECRAN ACCUEIL */

#wrapper_boutiques {
	padding-top: 110px;
	padding-bottom: 255px;
	background: #b7d0cd;
}

.container_boutiques {
	position: relative;
	max-width: 100%;
	height: 400px;
	text-align: center;
}

.container_titres {
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	color:white;
	text-transform: uppercase;
}

.title-paris {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 2px;
	padding:0;
	margin: 0;
}

h1 {
	font-family: 'Cormorant', serif;
	font-weight: normal;
	font-size: 80px;
	padding:0;
	margin: 0;
}

@media all and (max-width: 1441px) {
	#wrapper_boutiques {
		padding-top: 40px;
		padding-bottom: 190px;
	}
}


/* TXT TRANSITION */

.container_transition {
	max-width: 100%;
	height : 320px;
	display: flex;
}

.txt-transition {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	text-transform:uppercase;
	letter-spacing:1px;
	text-align: center;
	line-height: 30px;
	margin: auto;
}

@media all and (max-width: 1024px) {
	.container_transition {
		height : 240px;
	}
}

/* BLOC SHOP */

#wrapper-honore {
	max-width: 100%;
}

#wrapper-tournon{
	margin-top: 150px;
	margin-bottom: -100px;
	max-width: 100%;
}

.container-shop {
	width: 1200px;
	height:800px;
	margin: auto;
	position: relative;
}

.bloc-map {
	position: absolute;
	width: 800px;
	height: 645px;
	background: #f0c1c1;
	z-index:500;
}

.bloc-img {
	position: absolute;
	width:652px;
	height:720px;
	background:#b0924f;
	right:0;
	bottom: 0;
}

.bloc-titres {
	position:absolute;
	width: 300px;
	height: 350px;
	background: white;
	text-transform: uppercase;
	top: 150px;
	right: 200px;
	z-index:1000;
}

.bloc-titre {
	position: absolute;
	width:auto;
	bottom: 10px;
	left: 50%;
	transform: translate(-50%, -10%);
}

.rue {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
	padding:0;
	margin:0;
}

.nom_shop {
	font-family: 'Cormorant', serif;
	font-size: 50px;
	padding:0;
	margin:0;
}

.address {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 25px;
	padding-top: 10px;
	text-align:right;
}

h2, h3 {
	font-weight:normal;
}

@media all and (max-width: 1441px) {
	#wrapper-tournon {
		margin-bottom: 0px;
	}
}

@media all and (max-width: 1024px) {
	.container-shop {
		width: 900px;
		height:800px;
	}

	.bloc-map {
		width: 600px;
		height: 645px;
	}

	.bloc-map > iframe {
		width: 600px;
		height: 645px;
	}

	.bloc-titres {
		width: 250px;
		height: 320px;
		top: 150px;
		right: 120px;
	}

	.nom_shop {
		font-size: 42px;
	}
}

@media all and (max-width: 768px) {
	#wrapper-honore, #wrapper-tournon{
		display: flex;
		flex-wrap: wrap;
	}

	.container-shop, .bloc-map, .bloc-img, .bloc-titres, .bloc-titre {
		position: inherit;
	}

	.bloc-titres, .bloc-titre, .bloc-img {
		display: none;
	}

	.bloc-map {
		z-index:inherit;
	}

	.address {
		text-align:center;
	}

	.bloc-map {
		margin: auto;
	}

	#wrapper-tournon{
		margin-top: 0px;
	}
}

@media all and (max-width: 480px) {
	.txt-transition {
		font-size: 16px;
	}

	.bloc-map {
		width: 480px;
		height: 620px;
	}

	.bloc-map > iframe {
		width: 480px;
		height: 620px;
	}

	#wrapper-tournon, #wrapper-honore {
		margin-bottom: -45px;
	}
}