html, body {
    margin: 0;
	padding: 0;
}


html, body {
    margin: 0;
	padding: 0;
}

/* HEADER */

#wrapper-header {
    max-width: 100%;
}

.container-header {
	max-width: 1200px;
	height: 200px;
    margin:auto;
    position: relative;
    z-index: 1000;
}

.logo img {
	position: absolute;
	width: 300px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
}

.container-nav nav {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
}

.container-nav > .menu-principal {
	list-style-type: none;
	display: inline-flex;
}

nav li {
	list-style-type: none;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-size: 12px;
}

.container-nav > nav > ul >li {
	padding: 20px 15px;
}

a  { 
	text-decoration: none; 
	color: inherit;
} 

.menu-boutiques a:hover, .menu-about a:hover {
	border-bottom: 1px solid black;
}

nav > ul > li {
	float:left;
	position: relative;
}

nav > ul::after {
	content:"";
	display: block;
	clear: both;
}

.submenu {
	margin: 0;
	padding:0;
	list-style-type: none;
	display: none;
	margin-top: 20px;
	color: grey;
	background-color:rgba(255, 255, 255, 1);
}

nav li:hover .submenu {
	display: block;
	position: absolute;
	left: 0;
	width:100%;
	z-index: 100000;
}

.submenu li {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom:1px solid #eeeeee;
}

.submenu li:hover {
	color: black;
}


@media all and (max-width: 1441px) {
	.container-header {
		max-width: 1200px;
	}
}

@media all and (max-width: 1024px) {
	.container-header {
		max-width: 800px;
	}

	.container-nav > nav > ul >li {
		padding: 10px;
	}

	.logo img {
		top: 50%;
		left: 0;
		transform: translate(-0%, -50%);
	}
}

@media all and (max-width: 768px) {
	.container-header {
		max-width: 600px;
	}

	.container-nav > nav > ul >li {
		margin-left: 10px;
	}
}

@media all and (max-width: 480px) {
    body {
        background: #e9e9e9;
    }
	.container-header {
		max-width: 480px;
		height: 150px;
		text-align: center;
	}

	.container-nav, .logo img { 
		position: inherit;
		top:0;
		left: 0;
		transform: translate(0,0);
	}

	.logo img {
		padding-top: 35px;
	}

	.container-nav > .menu-principal {
		display: none;
	}

	.container-nav nav {
		position: inherit;
	}

	.container-nav > nav > ul >li {
		padding: 15px 15px;
	}
}



/* WRAPPER IMG */

.img_back {
    margin-top: -272px;
    max-width: 100%;
    height: 970px;
    position: relative;
}

.img_back > img {
    width: 100%;
    height: 970px;
}

@media all and (max-width: 1441px) {
    .img_back {
        height: 790px;
        background: pink;
    }

    .img_back > img {
        width: 1441px;
        height: 790px;
    }
}

@media all and (max-width: 1024px) {
    .img_back {
        height: 768px;
    }

    .img_back > img {
        width: 1024px;
        height: 768px;
    }
}

@media all and (max-width: 768px) {
    .img_back > img {
        width: 768px;
        height: 1024px;
    }
}

@media all and (max-width: 480px) {
    .img_back {
        display: none;
    }

    .img_back > img {
        display: none;
    }

}


/* FORM */

#wrapper-form {
    max-width: 100%;
}

.container-form {
    position: absolute;
    display: flex;
    right: 0;
}

.bloc-left-form {
    width: 100px;
    height: 650px;
    margin-top: -650px;
    position: relative;
}

.bloc-right-form {
    width: 1200px;
    height: 650px;
    margin-top: -650px;
    background:#e9e9e9;
    display: flex;
}

.fa-arrow-left {
    position: absolute;
    color:white;
    right: 20px;
}

.fa-arrow-left:hover {
    color: black;
}

@media all and (max-width: 1441px) {
    .bloc-left-form {
        height: 550px;
        margin-top: -550px;
    }
    
    .bloc-right-form {
        width: 1000px;
        height: 550px;
        margin-top: -550px;
    }
}

@media all and (max-width: 1024px) {
    .bloc-left-form {
        height: 500px;
        margin-top: -500px;
    }
    
    .bloc-right-form {
        width: 700px;
        height: 500px;
        margin-top: -500px;
    }
}

@media all and (max-width: 480px) {
    .container-form {
        position: inherit;
        display: inherit;
    }
    
    .bloc-left-form, .bloc-right-form {
        position: inherit;
        margin-top: 0px;
    }

    .fa-arrow-left {
        position: inherit;
    }
}


/* RIGHT */

.container-txt-right {
    width: 769px;
    height: 437px;
    margin:auto;
    justify-items: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    height: 73px;
    margin-top: 0;
    margin-bottom: 0;
}

#form_contact {
    height: 280px;
}

.container-flex {
    display: flex;
}

.left {
    width: 328px;
    height: 280px;
}

.right {
    width:441px;
    height: 280px;
}

.butt {
    height: 86px;
    position: relative;
}

.button {
    position: absolute;
    bottom:0;
    width: 128px;
    height: 45px;
    cursor:pointer;
    background:black;
    color: white;
    text-transform: uppercase;
    border:inherit;
    letter-spacing: 1px;
}

.button:hover {
    background: #e9e9e9;
    border:1px solid black;
    color: black;
    transition: 0.2s;
}

.nom, .sujet, .email, .message {
    font-family: 'Cormorant', serif;
    font-size: 30px;
    padding-top: 0;
}

.input_bottom {
    margin-bottom: 25px;
    padding: 0;
}

input {
    width: 225px;
    height: 35px;
    border:none;
    border-bottom: 1px solid #bfbfbf;
    background: none;
    outline: none;
    font-size: 12px;
}

.p_form {
    padding:0;
}

textarea {
    margin-top: 34px;
    border: 1px solid #bfbfbf;
    outline:none;
    padding: 10px;
    font-size: 12px;
    height: 200px;
    resize: none;
    background: none;
}

#msg_nom, #msg_sujet, #msg_email, #msg_message {
    font-family: 'Roboto', sans-serif;
    color:red;
    font-size: 12px;
}

@media all and (max-width: 1024px) {
    .container-txt-right {
        width: 600px;
        height: 400px;
    }

    input {
        width: 170px;
        height: 30px;
    }

    textarea {
        width: 350px;
        height: 160px;
    }

    .nom, .sujet, .email, .message {
        font-size: 28px;
    }

    .butt {
        height: 48px;
    }
    
    .button {
        width: 110px;
        height: 38px;
        font-size: 10px;
    }
}

@media all and (max-width: 480px) {
    .container-flex {
        flex-wrap: wrap;
        border:1px solid green;
    }

    .container-txt-right {
        width: 480px;
        height: auto;
    }

    input {
        border:1px solid red;
    }

    textarea {
        width: 150px;
        height: 160px;
    }

    .nom, .sujet, .email, .message {
        font-size: 16px;
        border:1px solid blue;
    }

    .butt {
        height: 48px;
    }
    
    .button {
        width: 110px;
        height: 38px;
        font-size: 10px;
    }
}
