html body {
	margin: 0;
	padding: 0;
}


/* SECTION 1 */

#wrapper-section-1 {
	max-width: 100%;
	height: 820px;
	background: #b7d0cd;
}

.container-section-1 {
	max-width: 1400px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}

.container-sec1-right {
	width: 700px;
	height: 870px;
}

.container-sec1-right > img {
	width: 700px;
	height: 870px;
}

.container-sec1-left {
	width: 700px;
	height: 870px;
	position: relative;
}

.background-left {
	position: absolute;
	width: 320px;
	height: 400px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.title-left {
	position: absolute;
	font-family: 'Cormorant', serif;
	font-size: 40px;
	text-transform:uppercase;
	color:#d87e2a;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	position: absolute;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -62%);
	padding: 15px 20px;
	background:#d87e2a;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1.5px;
	border:inherit;
	color: white;
}

@media all and (max-width: 1441px) {
	#wrapper-section-1 {
		height: 650px;;
	}

	.container-section-1 {
		max-width: 1200px;
	}

	.container-sec1-right {
		width: 570px;
		height: 700px;
	}

	.container-sec1-right > img {
		width: 570px;
		height: 700px;
	}

	.container-sec1-left {
		width: 570px;
		height: 700px;
	}
}

@media all and (max-width: 1024px) {
	#wrapper-section-1 {
		height: 450px;
	}

	.container-section-1 {
		max-width: 800px;
	}

	.container-sec1-right {
		width: 400px;
		height: 450px;
	}

	.container-sec1-right > img {
		width: 400px;
		height: 500px;
	}

	.container-sec1-left {
		width: 400px;
		height: 450px;
	}

	.background-left {
		width: 220px;
		height: 300px;
	}

	.background-left > img {
		width: 220px;
		height: 300px;
	}

	.title-left {
		font-size: 20px;
	}

	.btn {
		position: absolute;
		top: 67%;
		left: 50%;
		transform: translate(-50%, -67%);
	}
}

@media all and (max-width: 768px) {
	.container-section-1 {
		max-width: 768px;
	}
}

@media all and (max-width: 480px) {
	#wrapper-section-1 {
		height: 380px;
	}

	.container-section-1 {
		max-width: 480px;
		height: 380px;
	}

	.container-sec1-right {
		display: none;
	}

	.container-sec1-left {
		width: 480px;
		height: 380px;
	}
}



/* SECTION 2 */

#wrapper-section-2 {
	padding-top: 179px;
}

.container-section-2 {
	max-width: 1200px;
	height:1100px;
	margin: auto;
}

.back-grey {
	position:absolute;
	left:50%;
	transform: translateX(-50%);
	width: 773px;
	height:1100px;
	background:#f7f7f7;
	padding-bottom:100px;
}

.text-grey {
	padding-top:50px;
}

.little-title {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size:16px;
	letter-spacing:1.5px;
	text-transform:uppercase;
	font-weight: normal;
}

.txt {
	font-family: 'Cormorant', serif;
	font-size:50px;
	width: 500px;
	margin:auto;
	text-align:center;
	margin-top: 40px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.container-blocs {
	position: absolute;
	width: 1200px;
	display: flex;
	padding-top:400px;
}

.left-bloc, .right-bloc {
	width:600px;
	height: 637px;
}

.left-bloc {
	position:relative;
}

.bloc-txt {
	font-family: 'Cormorant', serif;
	width:350px;
	position:absolute;
	top:85%;
	left: 50%;
	transform:translate(-50%, -85%);
}

.text-title {
	font-size:87px;
	margin:0;
}

.text-desc {
	font-family: 'Cormorant', serif;
	font-size:20px;
	text-align:justify;
	margin-top: 20px;
}

.btn-collec {
    padding:15px;
	width: 95px;
    text-align: center;
	background:black;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:12px;
	letter-spacing:1.5px;
	border:inherit;
	color: white;
	margin-top: 20px;
}
@media all and (max-width: 1024px) {
	.container-section-2 {
		max-width: 800px;
		height:1100px;
		margin: auto;
	}

	.back-grey {
		width: 650px;
	}

	.container-blocs {
		width: 800px;
	}

	.left-bloc, .right-bloc {
		width:400px;
		height: 637px;
	}

	.text-title {
		font-size:70px;
	}
}

@media all and (max-width: 768px) {
	.container-section-1 {
		max-width: 768px;
	}

	.container-section-2 {
		max-width: 768px;
	}

	.back-grey {
		width: 768px;
	}

	.container-blocs {
		width: 768px;
	}

	.left-bloc, .right-bloc {
		width:384px;
		height: 637px;
	}

	.right-bloc > img {
		width:384px;
		height: auto;
	}
	
	.text-desc {
		width:300px;
		font-size:18px;
	}

	.back-grey {
		padding-bottom:0px;
	}
}

@media all and (max-width: 480px) {
	#wrapper-section-2 {
		padding-top: 0px;
	}

	.container-section-1, .container-section-2, .back-grey, .container-blocs {
		max-width: 480px;
	}

	.back-grey {
		position: inherit;
		width: 480px;
		height: auto;
		left:0%;
		transform: translateX(0%);
		width: 480px;
		padding-bottom:80px;
	}

	.txt {
		font-size:40px;
	}

	.container-blocs {
		position:inherit;
		width: 480px;
		padding-top:0px;
		display: flex;
		flex-wrap: wrap;
	}
	
	.left-bloc, .right-bloc{
		width:480px;
		height: auto;
		position:inherit;
		/*background:#f7f7f7;*/
		padding-top: 60px;
		display: flex;
	}

	.bloc-txt {
		width: 480px;
		position:inherit;
		top:0%;
		left: 0%;
		transform:translate(0%, 0%);
		text-align:center;
	}

	.text-desc {
		margin:auto;
		margin-top: 20px;
		font-size: 20px;
	}

	.right-bloc > img {
		margin: auto;
		height: 350px;
		width: auto;
	}

}




/* SECTION 3 */

#wrapper-section-3 {
	padding-top:100px;
}

.container-img-3 {
	width: 1400px;
	height: 700px;
	margin:auto;
}

.container-img-3 > img {
	width: 1400px;
	height: 780px;
	margin:auto;
}

.back-green {
	width: 100%;
	height: 650px;
	background: #b7d0cd;
	margin-top: -10px;
}

.container-green {
	display: flex;
	padding-top: 215px;
	width: 752px;
	margin: auto;
	justify-content: space-between;
}

.left-green {
	width: 330px;
}

.right-green {
	width: 380px;
	margin-top: 15px;
}

.title-green {
	font-family: 'Cormorant', serif;
	font-size: 87px;
	margin:0;
	text-align: right;
}

.lititle-green {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: right;
	margin-top: -5px;
}

.text-green {
	font-family: 'Cormorant', serif;
	font-size:20px;
	text-align:justify;
	margin-top: 23px;
}

@media all and (max-width: 1441px) {
	.container-img-3 {
		width: 1200px;
		height: 700px;
	}

	.container-img-3 > img { 
		width: 1200px;
		height: 700px;
	}

	.back-green {
		height: 650px;
		margin-top: -68px;
	}
}

@media all and (max-width: 1024px) {
	.container-img-3 {
		width: 1024px;
		height: 650px;
	}

	.container-img-3 > img { 
		width: 1024px;
		height: 650px;
	}

	.back-green {
		height: 450px;
		margin-top: 0px;
	}

	.container-green {
		padding-top: 70px;
	}
}

@media all and (max-width: 768px) {
	#wrapper-section-3 {
		padding-top:0px;
	}

	.container-img-3 {
		width: 768px;
		height: 450px;
	}

	.container-img-3 > img { 
		width: 768px;
		height: 450px;
	}

	.back-green {
		margin-top: 0px;
	}

	.container-green {
		flex-direction: column;
		text-align: center;
		padding-top: 20px;
	}

	.left-green, .right-green, .lititle-green {
		margin: auto;
	}

	.right-green {
		width: 450px;
	}

	.lititle-green {
		text-align: center;
	}
}

@media all and (max-width: 480px) {
	.container-img-3 {
		width: 480px;
		height: 370px;
		padding-top: 100px;
	}

	.container-img-3 > img { 
		width: 480px;
		height: 370px;
	}

	.back-green {
		height: auto;
		padding-bottom: 30px;
	}

	.container-green {
		width: 480px;
		padding-top: 30px;
		justify-content: inherit;
	}

	.right-green {
		width: 400px;
	}

	.title-green {
		width: auto;
		font-size: 70px;
		text-align: inherit;
	}

	.lititle-green {
		text-align: center;
	}

	.text-green {
		width: 300px;
		margin: auto;
		margin-top:35px;
	}
}


/* SECTION : SLIDER PRODUITS */

#wrapper-section-4 {
	max-width: 100%;
	padding-top: 130px;
}

.container-section-4 {
	width: 1400px;
	margin:auto;
}

.container-title-sec4 {
	max-width: 1400px;
}

.container-list-sec4 {
	width: 1400px;
	height: 450px;
	margin-top: 50px;
	position: relative;
}

.container-list-sec4 ul {
	list-style-type: none;
}

.title-sec4 {
	font-family: 'Cormorant', serif;
	font-size:87px;
	margin:0;
	text-align:center;
}

.under-title-sec4 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	text-align: center;
}

.product-sec4 {
	width: 350px;
	height: 450px;
	position: relative;
	margin-right: 30px;
	margin-left: 50px;
}

.left-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: -50px;
	cursor: pointer;
}

.right-arrow {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%, 0);
	margin-right: -50px;
	cursor: pointer;
}

@media all and (max-width: 1441px) {
	.container-section-4 {
		width: 1200px;
	}

	.container-title-sec4 {
		max-width: 1200px;
	}
	
	.container-list-sec4 {
		width: 1200px;
	}

	.product-sec4 {
		margin-right: 30px;
		margin-left: 0;
	}
}

@media all and (max-width: 1024px) {
	#wrapper-section-4 {
		display: none;
	}
}


/* SECTION 5 NEWSLETTER */

#wrapper-section-5 {
	max-width: 100%;
	padding-top:100px;
	padding-bottom: 120px;
}

.container-newsletter {
	width:1200px;
	margin: auto;
}

.container-form {
	width: 350px;
	margin: auto;
	text-align: center;
	margin-top: 25px;
}

.email-form {
	width: 350px;
	border:none;
	padding: 10px;
	color: grey;
	border-bottom: 1px solid black;
}

.button-form {
	width: 144px;
	height: 44px;
	background:black;
	font-family: 'Roboto', sans-serif;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:1.5px;
	border:inherit;
	color: white;
	margin-top: 20px;
}

form > .button-form {
	margin-top: 30px;
}

input {
	outline:none;
}

.error-msg, .ok-msg {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: red;
	text-align: center;
	padding-top: 20px; 
}

.ok-msg{
	color: green;
}

.txt-newslett {
	font-family: 'Cormorant', serif;
	width: 500px;
	margin:auto;
	text-align:center;
	margin-top: 40px;
	font-size:70px;
}

@media all and (max-width: 1024px) {
	#wrapper-section-5 {
		padding-top:50px;
		padding-bottom: 70px;
	}

	.container-newsletter {
		width:1024px;
	}
}

@media all and (max-width: 768px) {
	.container-newsletter {
		width:768px;
	}
}

@media all and (max-width: 480px) {
	.container-newsletter {
		width:480px;
	}

	.txt-newslett {
		font-family: 'Cormorant', serif;
		width: 500px;
		margin:auto;
		text-align:center;
		margin-top: 40px;
		font-size:70px;
	}

	.little-title {
		width: 300px;
		padding-top: 10px;
		margin: auto;
	}

	.email-form {
		width: 250px;
	}

}


/* SECTION 6 BOUTIQUE IMG */

.container-sec6 {
    max-width: 1400px;
    height: 700px;
    display: flex;
	margin: auto;
	margin-bottom: 74px;
}

.container-left-sec6, .container-right-sec6 {
    width: 700px;
    height: 780px;
}

.container-left-sec6 > img {
    width: 700px;
    height: 780px;
}

.container-right-sec6 {
	position: relative;
	background: #b7cfcd;
}

.front-img-sec6 {
	position: absolute;
	width: 323px;
	height: 378px;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.title-cont-right {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Cormorant', serif;
	font-size: 110px;
	color:white;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

@media all and (max-width: 1441px) {
	.container-sec6 {
		max-width: 1200px;
	}

	.container-left-sec6, .container-right-sec6 {
		width: 600px;
		height: 700px;
	}

	.container-left-sec6 > img {
		width: 600px;
		height: 700px;
	}
}

@media all and (max-width: 1024px) {
	.container-sec6 {
		max-width: 1024px;
	}

	.container-left-sec6, .container-right-sec6 {
		width: 512px;
		height: 650px;
	}

	.container-left-sec6 > img {
		width: 512px;
		height: 650px;
	}
}

@media all and (max-width: 768px) {
	.container-sec6 {
		max-width: 768px;
		margin-bottom: 0px;
		height: 610px;
	}

	.container-right-sec6 {
		width: 768px;
		height: 550px;
	}

	.container-left-sec6 {
		display: none;
	}
}

@media all and (max-width: 480px) {
	.container-sec6 {
		height: auto;
	}
}
